force-app/main/default/flows/Booking_After_Create_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Step_1_Map_Fields_From_Unit</name>
        <label>Step 1 - Map Fields From Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FieldMapperInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Step_2_Calculate_Formula</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isInsert</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <stringValue>Unit__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceRecordId</name>
            <value>
                <elementReference>$Record.Unit__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FieldMapperInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Step_2_Calculate_Formula</name>
        <label>Step 2 - Calculate Formula</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FormulaCalculationService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Step_3_Generate_Payment_Schedules</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FormulaCalculationService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Step_3_Generate_Payment_Schedules</name>
        <label>Step 3 - Generate Payment Schedules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PaymentScheduleGeneratorService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PaymentScheduleGeneratorService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <description>Consolidated after-insert handler for Booking. Runs Field Mapping, Formula Calculation, and Payment Schedule Generation in guaranteed sequential order to ensure calculated values are available before payment schedules are created.</description>
    <environments>Default</environments>
    <interviewLabel>Booking After Create Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking After Create Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Step_1_Map_Fields_From_Unit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unit__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Booking__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
