force-app/main/default/flows/Create_Inspection_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Add_Insp_Id</name>
        <label>Add Insp Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Snags.Inspection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Inspection_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Snags</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Critical</name>
        <choiceText>Critical</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Critical</stringValue>
        </value>
    </choices>
    <choices>
        <name>Doors</name>
        <choiceText>Doors</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Doors</stringValue>
        </value>
    </choices>
    <choices>
        <name>Flush</name>
        <choiceText>Flush</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flush</stringValue>
        </value>
    </choices>
    <choices>
        <name>Major</name>
        <choiceText>Major</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Major</stringValue>
        </value>
    </choices>
    <choices>
        <name>Minor</name>
        <choiceText>Minor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Minor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pipe</name>
        <choiceText>Pipe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pipe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Plumbing</name>
        <choiceText>Plumbing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plumbing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tap</name>
        <choiceText>Tap</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tap</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tiling</name>
        <choiceText>Tiling</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tiling</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Create Inspection Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Inspection</label>
    <loops>
        <name>Loop_Snags</name>
        <label>Loop Snags</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>snagListCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Insp_Id</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Inspection_Record</name>
        <label>Create Inspection Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Snags</targetReference>
        </connector>
        <inputReference>varInspection</inputReference>
    </recordCreates>
    <screens>
        <name>Create_Inspection</name>
        <label>Create Inspection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Inspection_Record</targetReference>
        </connector>
        <fields>
            <name>Inspection_Details</name>
            <fieldText>Inspection Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Inspection_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varInspection.Inspection_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varInspection.Customer_Attended__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Inspection_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varInspection.Inspection_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varInspection.Customer_Name__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Snag_List</name>
            <fieldText>Snag List</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Snag_List_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Snag_List_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Snags_List</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>SL_No</name>
                <dataType>String</dataType>
                <fieldText>SL. No</fieldText>
                <fieldType>InputField</fieldType>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Category</name>
                <choiceReferences>Plumbing</choiceReferences>
                <choiceReferences>Tiling</choiceReferences>
                <choiceReferences>Doors</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Category</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Sub_Category</name>
                <choiceReferences>Tap</choiceReferences>
                <choiceReferences>Flush</choiceReferences>
                <choiceReferences>Pipe</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Sub Category</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Description</name>
                <fieldText>Description</fieldText>
                <fieldType>LargeTextArea</fieldType>
                <isRequired>true</isRequired>
            </fields>
            <fields>
                <name>Severity</name>
                <choiceReferences>Critical</choiceReferences>
                <choiceReferences>Minor</choiceReferences>
                <choiceReferences>Major</choiceReferences>
                <dataType>String</dataType>
                <fieldText>Severity</fieldText>
                <fieldType>DropdownBox</fieldType>
                <isRequired>true</isRequired>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>snagListCollection</elementReference>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Inspection</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>snagListCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Snag__c</objectType>
    </variables>
    <variables>
        <name>varInspection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inspection__c</objectType>
    </variables>
</Flow>
