force-app/main/default/flows/Demand_Interest_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Interest</name>
        <label>Calculate Interest</label>
        <locationX>50</locationX>
        <locationY>400</locationY>
        <actionName>InterestCalculationService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingId</name>
            <value>
                <elementReference>$Record.Booking__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InterestCalculationService</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_Booking_Exists</name>
        <label>Check Booking Exists</label>
        <locationX>50</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>Calculate_Interest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Booking Exists</defaultConnectorLabel>
        <rules>
            <name>No_Booking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Booking__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Booking</label>
        </rules>
    </decisions>
    <description>Record-Triggered Flow that fires after a Demand is created. Calls InterestCalculationService to calculate interest on overdue payment schedules for the Booking before the demand is finalized.</description>
    <environments>Default</environments>
    <interviewLabel>Demand - Interest Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demand - Interest Calculation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Booking_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Demands__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
